@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-jaro: 'Jaro', cursive;
}

.font-jaro {
  font-family: var(--font-jaro);
}

.left-leaf {
  @apply absolute inset-0 bg-[url(/img/leaf.png)] bg-no-repeat bg-contain bg-center scale-x-[-1];
}
.right-leaf {
  @apply absolute inset-0 bg-[url(/img/leaf.png)] bg-no-repeat bg-contain bg-center;
}
