@import "tailwindcss";

@keyframes scale-pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.12); }
}

@theme {
  --animate-scale-pulse: scale-pulse 0.8s ease-in-out infinite;
}

:root {
  --font-jakarta: 'Plus_Jakarta_Sans', sans-serif;
  --font-jaro: 'Jaro', cursive;
}

.font-jakarta {
  font-family: var(--font-jakarta);
}

.font-jaro {
  font-family: var(--font-jaro);
}

.left-leaf {
  @apply absolute inset-0 bg-[url(/img/leaf.png)] bg-no-repeat bg-contain bg-center scale-x-[-1];
}
.right-leaf {
  @apply absolute inset-0 bg-[url(/img/leaf.png)] bg-no-repeat bg-contain bg-center;
}
